<div class="wrapper">
  <div class="column" (keydown.enter)="submit('liked')" [formGroup]="textForm">
    <h2>Liked</h2>
    <div class="input-wrapper">
      <input
        formControlName="text"
        type="input"
        class="form__field"
        name="liked"
        required
      />
    </div>
    <ul>
      <div *ngFor="let message of liked$ | async" class="idea-wrapper">
        <h4>{{ message.message }}</h4>
      </div>
    </ul>
  </div>
  <div
    class="column"
    (keydown.enter)="submit('learned')"
    [formGroup]="textForm"
  >
    <h2>Learned</h2>
    <div class="input-wrapper">
      <input
        formControlName="text"
        type="input"
        class="form__field"
        name="learned"
        required
      />
    </div>
    <ul>
      <div *ngFor="let message of learned$ | async" class="idea-wrapper">
        <h4>{{ message.message }}</h4>
      </div>
    </ul>
  </div>
  <div class="column" (keydown.enter)="submit('lacked')" [formGroup]="textForm">
    <h2>Lacked</h2>
    <div class="input-wrapper">
      <input
        formControlName="text"
        type="input"
        class="form__field"
        name="lacked"
        required
      />
    </div>
    <ul>
      <div *ngFor="let message of lacked$ | async" class="idea-wrapper">
        <h4>{{ message.message }}</h4>
      </div>
    </ul>
  </div>
</div>
