<div class="wrapper">
  <div class="column">
    <h2>Liked</h2>
  </div>
  <div class="column" (keydown.enter)="submit()" [formGroup]="textForm">
    <h2>Learned</h2>
    <ul>
      <div *ngFor="let message of messages$ | async" class="idea-wrapper">
        <h4>{{ message }}</h4>
      </div>
    </ul>
    <div class="input-wrapper">
      <input
        formControlName="text"
        type="input"
        class="form__field"
        placeholder="Learned"
        name="learned"
        id="name"
        required
      />
      <label for="name" class="form__label">Learned</label>
    </div>
  </div>
  <div class="column">
    <h2>Lacked</h2>
  </div>
</div>
