.wrapper {
  display: flex;

  .column {
    flex: 1;
    margin: 1rem;
    padding: 0.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    h2 {
      color: rgb(248, 239, 213);
      margin-bottom: auto;
    }

    ul {
      list-style: none;
      width: 100%;

      .idea-wrapper {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 10px;
        background-color: rgb(68, 68, 68);
        min-height: 3rem;
        min-width: 100%;
        display: flex;
        align-items: center;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
      }

      h4 {
        color: rgb(248, 239, 213);
      }
    }
    .text-box {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.input-wrapper {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -15px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
